#content_container {
  display: grid;
  grid-template-columns: repeat(7, minmax(120px, 1fr));
  align-content: baseline;
  justify-items: center;
  position: relative;
  /* display: flex; */
  flex: 1; /* let it expand to fill remaining height */
  min-height: 0; /* important in flex to allow scroll */
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  /* align-content: center; */
  gap: 6px;
  overflow-y: auto;
  /* background-color: red; */
}

#content_container.list {
  display: flex;
  flex-direction: column;
  gap: 0px;
  flex-wrap: nowrap;
}

@media screen and (max-width: 1020px) {
  #content_container {
    grid-template-columns: repeat(6, minmax(100px, 1fr));
  }
}

@media screen and (max-width: 660px) {
  #content_container {
    grid-template-columns: repeat(5, minmax(100px, 1fr));
  }
}

@media screen and (max-width: 580px) {
  #content_container {
    grid-template-columns: repeat(4, minmax(100px, 1fr));
  }
}

@media screen and (max-width: 450px) {
  #content_container {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
}

@media screen and (max-width: 380px) {
  #content_container {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 0px;
  }
}
