#content_actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 540px) {
  #content_actions {
    gap: 4px;
  }
}
