.custom_button {
  font-size: 14px;
  color: #fff;
  padding: 6px 12px;
  border: 1px solid #4361ee;
  background-color: #4361ee;
  border-radius: 6px;
  font-weight: 400;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.custom_button.outline {
  background-color: #fff;
  color: #4361ee;
}

@media screen and (max-width: 820px) {
  .custom_button {
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 4px;
  }
}

/* @media screen and (max-width: 560px) {
  .custom_button {
    font-size: 10px;
    padding: 4px 8px;
  }
} */
