#forget_password_page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f8f9fc;
}

#forget_password_page .wrapper {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.forget-password-card {
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.forget-password-form input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background: var(--primary-color);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:disabled {
  background: #b0aeae;
}
/* 
.submit-btn:hover {
  background: var(--primary-dark);
} */

.back-link {
  margin-top: 15px;
  font-size: 14px;
}

.back-link span {
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
}
