#home_page .wrapper {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#home_page svg.loading_spinner {
  padding: 4px;
  justify-self: center;
  opacity: 0;
}

#home_page svg.loading_spinner.active {
  opacity: 1;
}

#home_page .view_mode_container {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

@media screen and (max-width: 660px) {
  #home_page .view_mode_container {
    padding: 3px 0;
  }
}

@media screen and (max-width: 380px) {
  #home_page .view_mode_container {
    padding: 2px 0;
  }
}
