#home_page .wrapper {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 30px 20px;
  border-radius: 8px;
}

#home_page svg.loading_spinner {
  padding: 4px;
  justify-self: center;
  opacity: 0;
}

#home_page svg.loading_spinner.active {
  opacity: 1;
}
