#landing_page .wrapper {
  display: grid;
  grid-template-rows: 80px 1fr 80px;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 1200px; /* optional, to limit content width */
  height: 100%;
}

#landing_page .wrapper .nav_bar {
  /* width: 100%; */
  /* background-color: #fff; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#landing_page .wrapper .nav_bar .app_name {
  font-size: 24px;
}

#landing_page .wrapper .nav_bar .actions {
  display: flex;
  gap: 8px;
}

#landing_page .wrapper > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

#landing_page .wrapper .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

#landing_page .wrapper .content h1 {
  font-size: 3.4rem;
  letter-spacing: 12px;
  color: #fff;
}

#landing_page .wrapper .content p {
  font-size: 1.4rem;
}

#landing_page .wrapper .content button {
  padding: 12px 20px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  background-color: #fff;
  margin-top: 50px;
}

@media screen and (max-width: 820px) {
  #landing_page .wrapper .content h1 {
    font-size: 3rem;
    letter-spacing: 8px;
  }
}

@media screen and (max-width: 700px) {
  #landing_page .wrapper .content h1 {
    font-size: 2.6rem;
  }

  #landing_page .wrapper .content p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  #landing_page .wrapper .content h1 {
    font-size: 2rem;
  }

  #landing_page .wrapper .content button {
    padding: 12px 20px;
    font-size: 14px;
    background-color: #fff;
    margin-top: 30px;
  }
}

@media screen and (max-width: 480px) {
  #landing_page .wrapper .content {
    padding: 80px 0 0;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
  }
}
