#my_media_page .wrapper {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  /* padding: 30px 20px; */
}

#my_media_page .wrapper .page_navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 4px;
  border-bottom: 0.25px solid rgba(0, 0, 0, 0.05);
}

#my_media_page .wrapper .page_navbar button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  border-radius: 20px;
  padding: 8px;
}

#my_media_page .wrapper .page_navbar .sort_btn {
  position: absolute;
  right: 0;
}

#my_media_page .wrapper .page_navbar button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

#my_media_page .wrapper .page_navbar .page_name {
  font-weight: 600;
  font-size: 24px;
  color: var(--secondary-text-color);
  margin-left: 4px;
}

#my_media_page .wrapper .listview_container {
  width: 100%;
  position: relative;
  display: flex;
  flex: 1; /* let it expand to fill remaining height */
  min-height: 0; /* important in flex to allow scroll */
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 10px;
  overflow-y: auto;
}

#my_media_page .wrapper .bottom_navigator {
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 6px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.4); */
  border: 0.001px solid rgba(0, 0, 0, 0.2);
}

#my_media_page .wrapper .bn_item_btn {
  border: none;
  outline: none;
  padding: 4px 8px;
  border-radius: 14px;
  background-color: #fff;
  color: var(--secondary-text-color);
  font-size: 16px;
}

#my_media_page .wrapper .bn_item_btn.active {
  background-color: var(--primary-color);
  color: #fff;
}

#my_media_page svg.loading_spinner {
  padding: 4px;
  justify-self: center;
  opacity: 0;
}

#my_media_page svg.loading_spinner.active {
  opacity: 1;
}

#my_media_page .view_mode_container {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

@media screen and (max-width: 820px) {
  #my_media_page .wrapper .page_navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 4px;
    border-bottom: 0.25px solid rgba(0, 0, 0, 0.05);
  }

  #my_media_page .wrapper .page_navbar .page_name {
    font-weight: 500;
    font-size: 16px;
    /* margin-left: 4px; */
  }

  #my_media_page .wrapper .page_navbar button {
    border-radius: 15px;
    padding: 4px;
  }

  #my_media_page .wrapper .bottom_navigator {
    bottom: 2px;
    padding: 6px;
  }

  #my_media_page .wrapper .bn_item_btn {
    padding: 4px 8px;
    font-size: 14px;
  }
}

@media screen and (max-width: 660px) {
  #my_media_page .wrapper .page_navbar button {
    border-radius: 12px;
    padding: 3px;
  }

  #my_media_page .view_mode_container {
    padding: 3px 0;
  }
}

@media screen and (max-width: 380px) {
  #my_media_page .wrapper .page_navbar .page_name {
    font-size: 14px;
    /* margin-left: 4px; */
  }

  #my_media_page .wrapper .bottom_navigator {
    bottom: 2px;
    padding: 4px;
  }

  #my_media_page .wrapper .bn_item_btn {
    /* padding: 4px 8px; */
    font-size: 12px;
  }
}

@media screen and (max-width: 280px) {
  #my_media_page .wrapper .bottom_navigator {
    bottom: 2px;
    padding: 2px;
    width: 100%;
    border-radius: 0;
    bottom: 0;
    border: none;
    border-top: 0.001px solid rgba(0, 0, 0, 0.2);
  }

  #my_media_page .wrapper .bn_item_btn {
    padding: 4px 8px;
    font-size: 10px;
  }
}
