#my_media_page .wrapper {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 30px 20px;
}

#my_media_page .wrapper .page_navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 4px;
  border-bottom: 0.25px solid rgba(0, 0, 0, 0.05);
}

#my_media_page .wrapper .page_navbar button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  border-radius: 20px;
  padding: 8px;
}

#my_media_page .wrapper .page_navbar button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

#my_media_page .wrapper .page_navbar .page_name {
  font-weight: 600;
  font-size: 24px;
  color: var(--secondary-text-color);
  margin-left: 4px;
}

#my_media_page .wrapper .listview_container {
  width: 100%;
  position: relative;
  display: flex;
  flex: 1; /* let it expand to fill remaining height */
  min-height: 0; /* important in flex to allow scroll */
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 10px;
  overflow-y: auto;
}

#my_media_page .wrapper {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#my_media_page svg.loading_spinner {
  padding: 4px;
  justify-self: center;
  opacity: 0;
}

#my_media_page svg.loading_spinner.active {
  opacity: 1;
}

#my_media_page .view_mode_container {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

@media screen and (max-width: 660px) {
  #my_media_page .view_mode_container {
    padding: 3px 0;
  }
}
