#navbar {
  /* padding: 20px 0; */
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

#navbar .app_name {
  font-size: 28px;
  font-weight: 600;
  /* color: var(--primary-color); */
}

#side_drawer_btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

@media screen and (max-width: 820px) {
  #navbar div {
    gap: 6px;
  }
  #navbar .app_name {
    font-size: 22px;
  }
}

@media screen and (max-width: 540px) {
  #navbar div {
    gap: 4px;
  }
  #navbar .app_name {
    font-size: 20px;
  }
}

/* @media screen and (max-width: 380px) {
  #navbar div {
    gap: 2px;
  }
  #navbar .app_name {
    font-size: 16px;
  }
} */
