#overlay_page.hidden {
  display: none;
}

#overlay_page .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px;
  gap: 10px;
  height: fit-content;
}

@media screen and (max-width: 660px) {
  #overlay_page .wrapper {
    padding: 18px;
  }
}

@media screen and (max-width: 540px) {
  #overlay_page .wrapper {
    padding: 12px;
    margin: 0 16px;
    border-radius: 8px;
    gap: 4px;
  }
}
