#side_drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 12px;
  top: 20px;
  width: 300px;
  height: fit-content;
  background-color: #fff;
  /* transform: translateX(10px); */
  opacity: 1;
  pointer-events: auto;
  transition: transform 0.2s ease-in, opacity 0.2s ease-in, width 0.3s ease-in;
  z-index: 200;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
  padding: 12px 12px 80px;
  border: 0.0125px solid rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

#side_drawer.hidden {
  /* transform: translateX(0px); */
  width: 100px;
  opacity: 0;
  pointer-events: none; /* prevent interaction */
}

#side_drawer button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  padding: 8px 6px;
  background-color: transparent;
  border: none;
  border-bottom: 0.025px solid rgba(0, 0, 0, 0.05);
  font-size: 18px;
  border-radius: 4px;
  text-wrap: nowrap;
}

#side_drawer button:hover {
  /* border: none; */
  background-color: rgba(0, 0, 0, 0.03);
}

#side_drawer button.close_btn {
  width: fit-content;
  align-self: flex-end;
  border: none;
  border-radius: 20px;
}

#side_drawer .divider {
  width: 100%;
  height: 1px;
  margin-top: 20px;
  /* background-color: aqua; */
}
