#single_file_preview {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#single_file_preview .content_item h3 {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-primary);
}

#single_file_preview .content_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 0;
}
#single_file_preview img {
  height: 100px;
}
