#single_file_preview {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
}

#single_file_preview .content_item h3 {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-primary);
}

#single_file_preview .content_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 0;
}

#single_file_preview .content_item .clear_btn {
  font-size: 10px;
  padding: 2px;
}

#single_file_preview img {
  height: 100px;
}

@media screen and (max-width: 820px) {
  #single_file_preview {
    gap: 2px;
    font-size: 12px;
  }

  #single_file_preview .content_item .clear_btn {
    font-size: 8px;
  }

  #single_file_preview .content_item h3 {
    font-size: 14px;
  }
  #single_file_preview img {
    height: 80px;
  }
}

@media screen and (max-width: 320px) {
  #single_file_preview {
    gap: 0px;
    font-size: 10px;
  }

  #single_file_preview .content_item h3 {
    font-size: 12px;
  }

  #single_file_preview .content_item {
    padding: 2px 0;
  }
  #single_file_preview img {
    height: 60px;
    margin-bottom: 12px;
  }
}
