.trash_card {
  display: flex;
  position: relative;
  background-color: #fff;
  width: 105px;
  height: 110px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  transition: background-color 0.2s, border 0.2s;
  font-size: 14px;
}

.trash_card:hover,
.trash_card.active,
.trash_card.list:hover {
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.02);
}

.trash_card .thumbnail_img {
  height: 50px;
  margin-top: 6px;
}

.trash_card .name {
  font-size: 14px;
}

.trash_card .deleted_at {
  font-size: 10px;
}
.trash_card .actions {
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: #fff;
  padding: 8px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  gap: 8px;
  border-radius: 4px;
  transform: translateX(-50%);
  /* backdrop-filter: blur(10px); */
}

.trash_card .actions button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  text-transform: uppercase;
}

.trash_card .folder_name {
  transform: translateY(-14px);
}

.trash_card .folder_name + .deleted_at {
  transform: translateY(-14px);
}

@media screen and (max-width: 820px) {
  .trash_card .thumbnail_img {
    margin-top: 4px;
  }
  .trash_card .folder_name {
    transform: translateY(-6px);
  }

  .trash_card .folder_name + .deleted_at {
    transform: translateY(-6px);
  }
}

@media screen and (max-width: 450px) {
  .trash_card .folder_name {
    transform: translateY(-8px);
  }
  .trash_card .folder_name + .deleted_at {
    transform: translateY(-8px);
  }
}

@media screen and (max-width: 380px) {
  .trash_card .folder_name {
    transform: translateY(-4px);
  }

  .trash_card .folder_name + .deleted_at {
    transform: translateY(-4px);
  }
}
