#trash_page .wrapper {
  background-color: #fff;
}

#trash_page .message_text {
  justify-self: flex-end;
  padding: 4px 0;
  font-size: 18px;
  color: gray;
}

#trash_page .trashes_container {
  padding-top: 8px;
}

@media screen and (max-width: 660px) {
  #trash_page .message_text {
    font-size: 14px;
  }
}

@media screen and (max-width: 420px) {
  #trash_page .message_text {
    font-size: 12px;
  }
}
