#upload_circle_status {
  /* position: absolute;
  right: 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid var(--primary-color);
}

#upload_circle_status.hidden {
  display: none;
}
@media screen and (max-width: 820px) {
  #upload_circle_status {
    right: 14px;
  }
}
@media screen and (max-width: 660px) {
  #upload_circle_status {
    right: 10px;
  }
}

@media screen and (max-width: 660px) {
  #upload_circle_status {
    border: 1px solid var(--primary-color);
  }
}
