#upload_circle_status {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid var(--primary-color);
}

#upload_circle_status.hidden {
  display: none;
}
