#video_player {
  min-width: 300px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#video_player video {
  width: fit-content;
  height: 100%;
}

@media screen and (max-width: 820px) {
  #video_player {
    max-width: 700px;
    min-height: 300px;
  }

  #video_player video {
    width: 100%;
    height: fit-content;
  }
}

@media screen and (max-width: 360px) {
  #video_player {
    max-width: 100%;
    min-height: calc(100vh * 0.8);
  }

  #video_player video {
    width: 100%;
    height: fit-content;
  }
}
