#view_mode {
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: center;
}

#view_mode button {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  background-color: transparent;
}

#view_mode button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#view_mode button.selected {
  background-color: var(--secondary-text-color);
}

@media screen and (max-width: 820px) {
  #view_mode button {
    padding: 3px;
  }
}

@media screen and (max-width: 380px) {
  #view_mode button {
    padding: 2px;
    border-radius: 2px;
  }
}

/* 

@media screen and (max-width: 660px) {
  #content_container {
    grid-template-columns: repeat(5, minmax(100px, 1fr));
  }
}

@media screen and (max-width: 560px) {
  #content_container {
    grid-template-columns: repeat(4, minmax(100px, 1fr));
  }
}

@media screen and (max-width: 450px) {
  #content_container {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
}

@media screen and (max-width: 380px) {
  #content_container {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 0px;
  }
} */
