#view_mode {
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: center;
}

#view_mode button {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  background-color: transparent;
}

#view_mode button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#view_mode button.selected {
  background-color: var(--secondary-text-color);
}
